<!-- <mat-radio-group [value]="(currentTheme$ | async)">
      <mat-radio-button value="light-theme" (change)="changeTheme('light')">
        Light
      </mat-radio-button>
      <mat-radio-button value="dark-theme" (change)="changeTheme('dark')">
        Dark
      </mat-radio-button>
      <mat-radio-button value="system-theme" (change)="changeTheme('dark')">
        System
      </mat-radio-button>
    </mat-radio-group> -->

    <mat-form-field appearance="outline">
        <mat-label>Theme</mat-label>
        <!-- 1. Bind value to the store stream -->
        <!-- 2. Call onThemeChange when user selects a new option -->
        <mat-select [value]="currentTheme$ | async" (selectionChange)="onThemeChange($event)">
          <mat-option value="light">Light Mode</mat-option>
          <mat-option value="dark">Dark Mode</mat-option>
          <mat-option value="system">System Default</mat-option>
        </mat-select>
      </mat-form-field>
