@use '@angular/material' as mat;
@use './app/styles/m3-theme' as theme; // Adjust path if needed

@include mat.core();

// Define Light Theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
  )
));

// Define Dark Theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
  )
));

// Apply light theme by default
html {
  @include mat.all-component-themes($light-theme);

  // Apply dark theme when the class is present
  &.dark {
    @include mat.all-component-colors($dark-theme);
  }
}
